---
layout: default
---
<div class="post">
    <div class="profile">
        <div class="profile-container">
            <div class="profile-content">
              <p>
                hellohellohellohellohellohello
                hellohellohellohellohellohellohellohello
                hellohellohellohellohellohellohellohello
                hellohellohellohellohellohellohellohello
                hellohellohellohellohellohello

              </p>
            </div>
            <div class="profile-image-shrink">
              <img src="assets/images/image.png" alt="Profile Picture" class="profile-image">
            </div>
        </div>
    </div>
    <div style="padding: 20px; margin: 0 auto;">
      <p>
        hellohellohellohellohellohello
        hellohellohellohellohellohellohellohello
        hellohellohellohellohellohellohellohello
        hellohellohellohellohellohellohellohello
        hellohellohellohellohellohello

      </p>
    </div>
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
