---
layout: default
---
  <div class="profile">
      <div class="profile-container">
          <div class="profile-content">
              <p>I am Seungheon Lee, a student at Korea University in South Korea. I am majoring in Computer Science and Engineering.</p>
              <p>I do love to learn new things and develop myself. Because I am interested in various fields of computer science, I am diving into various fields.</p>

              <p>I like workout, travel, and watching UFC.</p>
              


          </div>
        <div class="profile-image-shrink">
            <img src="assets/images/image.png" alt="Profile Picture" class="profile-image">
        </div>
    </div>
    <div class="profile-resume">
      {{ content | markdownify }}
    </div>
  </div>



{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

</div>
